* text=auto
*.java text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.cmd text eol=crlf
models/**/*.txt text eol=lf
sample-data/*.json linguist-generated=true
reports/*.json linguist-generated=true
